* {
  box-sizing: border-box;
}

body {
    background-color: #EAEDED;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    overflow: none;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

a,
a:active,
a:visited {
    color: #fff;
    text-decoration: none;
}

.list-v li {
    display: inline-block;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.hidden {
    display: none !important;
}